<div>
    <div style="width: 250px;
    height:800px;
    overflow-y:scroll;
    overflow-x:hidden;
    position: absolute;
    left: 0;">
        <div class="row">
            <a class="waves-effect waves-light btn" style="height: 35px"
               @click="onRefreshTopic">刷新</a>
            <input type="checkbox" id="checkbox1" v-model="isShowRecVideo"/>
            <label for="checkbox1">显示录制视频</label>
        </div>

        <div class="collection">
            <vue v-for="(topic,index) in topicArr">
                <topicItem :id="topic.id" :topic="topic"
                           v-on:select="onSelectTopic"></topicItem>
            </vue>
        </div>
    </div>
    <!--<ul class="collection">-->
    <!--<li>-->
    <!--<a @click="onAddRoom" class="modal-action waves-effect waves-green btn-flat">-->
    <!--<i class="material-icons">toc</i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->

    <div style="position: absolute;
         display: inline-flex;
         left: 270px;
      ">
        <vue v-for="(roomInfo, index) in playerArr">
            <playerItem :idx="index"
                        :roomInfo='roomInfo'
                        :accountArr='accountArr'
                        :acOptionArr='acOptionArr'
                        v-on:login="onLogin">
            </playerItem>
        </vue>
    </div>

    <div id="roomList" class="collection" style="position: absolute;left: 270px;width: 800px">
        <li class="collection-item" v-for="(roomInfo, index) in roomArr" >
            <roomItem :idx="index"
                      :roomInfo='roomInfo'
                      :accountArr='accountArr'
                      :acOptionArr='acOptionArr'
                      v-on:login="onLogin"
                      v-on:openRoom="onOpenRoom"
            >
            </roomItem>
        </li>
    </div>
</div>

