<div class="container">
    <!--<ul class="tabs">-->
    <!--<li class="tab col s3"><a class="active" href="#tab1">Topic</a></li>-->
    <!--<li class="tab col s3"><a href="#tab2">Room</a></li>-->
    <!--</ul>-->
    <div class="card-panel grey lighten-3 col" style="width: 250px;position: absolute;left: 0;">
        <div class="collection">
            <vue v-for="(topic,index) in topicArr">
                <topicItem :id="topic.id" :topic="topic"
                           v-on:select="onSelectTopic"></topicItem>
            </vue>
        </div>
    </div>
    <div class="card-panel grey lighten-3 col" style="position: absolute;left: 270px;">
        <vue class="row" v-for="(roomInfo, index) in roomArr">
            <roomItem :idx="index"
                      :roomInfo='roomInfo'
                      :accountArr='accountArr'
                      :acOptionArr='acOptionArr'
                      v-on:login="onLogin">
            </roomItem>
        </vue>
    </div>
</div>


