<div class="card" style="width:250px;margin: 0">
    <div class="row">{{roomInfo.title}} <br>主播：{{roomInfo.mc}}
        <a @click="onClosePlayer" class="btn-floating"
           style="position: absolute;top: 10px;left: 200px">
            <i class="material-icons">visibility_off</i>
        </a>
    </div>

    <div class="WCPlayer" style="width: 250px;height:440px"></div>
    <div class="col">
        <div class="row" style="width: 250px;display: inline-flex">
            帐号：
            <select class="browser-default" v-model="acSelected" @change="onAcSelected"
                    style="width: 150px">
                <option v-for="option in acOptionArr" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
        <div class="row">
            <textarea style="height:120px" v-model="dmkArr" readonly="readonly"></textarea>
        </div>
        <div class="row">
            <input placeholder="enter发送弹幕" style="width: 200px" class="DmkInput input-field" @keyup.enter="onInputEnter" v-model="dmkContent">
            <a class="btn-floating" style="width:35px;height: 35px"
               @click="onSendDmk"> <i class="material-icons right">send</i></a>
        </div>
    </div>
</div>